.footer
{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;

    padding: 5px; 

    border-radius: 10px; 
    background-color: #5e1568;

    text-align: center;
    color: white;

    font-size: 12px; 
}

.footer p
{
    margin-top: 5px; 
}